/* Configurações gerais */
h1 {
  color: var(--cor-titulo-azul);
  font-size: 3em;
}

.cabecalhos {
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-size: xx-large;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  background-color: var(--cor-background-azul);
  color: var(--cor-texto-padrao);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  padding: 5px 15px;
}

button>a{
  color: var(--cor-texto-padrao);
}

button:hover, .sair:hover {
  background-color: var(--cor-background-hover);
}

button.aceitar:hover{
  background-color: var(--cor-background-aceitar);
}

button.negar:hover{
  background-color: var(--cor-background-negar);
}

section{
  width: 100%;
  min-width: 80%;
}

.ocultar{
  display: none;
}

/* Animações para urgências e pendências */

.pendente {
  animation: pulsar-amarelo 1.5s infinite;
}

.urgente {
  animation: pulsar-vermelho 1.5s infinite;
}

@keyframes pulsar-amarelo {
  50%{
    background-color: var(--cor-pendencia);
  }
}

@keyframes pulsar-vermelho {
  50%{
    background-color: var(--cor-urgencia);
  }
}