/* Configurações gerais */
h1 {
  color: var(--cor-titulo-azul);
  font-size: 3em;
}

.cabecalhos {
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-size: xx-large;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  padding: 5px 15px;
  border: none;
  background-color: var(--cor-titulo-azul);
  color: var(--cor-texto-padrao);
  border-radius: 10px;
}

button:hover {
  background-color: var(--cor-background-hover);
}

section{
  min-width: 80%;
}

.ocultar{
  display: none;
}

/* Animações para urgências e pendências */

.pendente {
  animation: pulsar-amarelo 1.5s infinite;
}

.urgente {
  animation: pulsar-vermelho 1.5s infinite;
}

@keyframes pulsar-amarelo {
  50%{
    background-color: #ffe08a;
  }
}

@keyframes pulsar-vermelho {
  50%{
    background-color: #ff8a8a;
  }
}