/* Formatação para formulários */
form {
  color: var(--cor-texto-escuro);
  margin: 10px 0;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid var(--cor-border-cinza);
  background-color: var(--cor-background-cinza);
}

.areas-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.grupo-campo{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  flex: 1;
  gap: 10px;
}

.grupo-campo-linha{
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex: 1;
  gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-width: 400px;
  max-width: 600px;
  margin-top: 15px;
  font-size: 1.5em;
}

.campo>img{
  align-self: center;
  max-width: 200px;
}

.campo>p{
  color: var(--cor-texto-cinza);
}

.campo-linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: var(--cor-background-campo-cinza);
  font-size: 1.5em;
  min-width: 400px;
  max-width: 600px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

.campo-linha>input{
    max-width: 100px;
    border-radius: 5px;
}

form h2 {
  font-size: 2.5em;
}

input, select, textarea {
  flex: 1;
  padding: 5px 10px;
  min-width: 40px;
  min-height: 40px;
  max-height: 120px;
  font-size: 0.8em;
  border-radius: 5px;
  border: 1px solid var(--cor-border-escuro);
}

textarea{
  max-width: 400px;
  min-width: 200px;
}

.resumo {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.form-modal>p{
    font-size: 2em;
}

.form-modal{
    border: none;
    background-color: var(--cor-background);
}

.form-modal>button{
    max-width: 100%;
    margin: 15px 0;
}

.form-modal-login{
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--cor-background);
  gap: 20px;
  padding: 50px;
}

.form-modal-login>input{
  min-height: 60px;
  border-radius: 30px;
  padding: 20px;
  font-size: 2em;
  background-color: var(--cor-background-cinza);
  box-shadow: 2px 2px var(--cor-sombra-clara);
}

.form-modal-login>a>button{
  font-weight: bold;
  padding: 15px;
  margin-top: 50px;
}

small{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor-texto-escuro);
  border-bottom: 1px solid var(--cor-border-escuro);
}

#erro{
  font-size: 1.2em;
  color: var(--cor-mensagem-vermelho)
}

.opcoes-tamanho{
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  flex: 1;
}

/* ========== Formulário de cadastro com grid ========== */

.form-cadastro{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
  gap: 20px;
  margin: auto 0 auto auto;
  padding: 15px;
}

/*

.form-cadastrar-func {
  width: 60vw;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 10px;
}

.form-cadastrar-func label {
  font-weight: bold;
}


.config-campo-grande {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.config-campo-pequeno {
  display: flex;
  flex-direction: column;
  width: 70px
}

.config-campo-medio {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;/* evita que fique esticado demais 
}


.config-checkbox {
  display: flex;
  flex-direction: column;

}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.checkbox label {
  margin-right: 20px;
}

.form-final {
  display: flex;
  flex-direction: column;

}
.checkbox-final {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.formulario-com-imagem {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  margin: auto; 
}

.container-icone {
  max-width: 180px;
  display: flex;
}

.icone-perfil {
  width: 100%;
  max-width: 140px;
  border-radius: 100px;
}

.form-com-imagem-linhas {
  display: flex;
  flex-direction: column;
}

.section-alterar-senha-configuracoes button {
  background-color: #30adea;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  color: #ffffff;
  font-size: var(--fonte-bem-pequena);
  width: 130px;
}
.form-imagem-linhas {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}