/* Formatação para formulários */

form {
  margin: 20px 0;
  width: 100%;
  padding: 20px;
  border: 2px solid #aeb0b5;
  border-radius: 12px;
  background-color: #e8e8e8;
  color: var(--cor-sombra-escura);
}

.areas-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.grupo-campo{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
}

.grupo-campo-linha{
  display: flex;
  flex-direction: row;
  flex: 1;
  /* flex-wrap: wrap; */
  justify-items: center;
  gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.campo>img{
  max-width: 200px;
  align-self: center;
}

form h2 {
  font-size: 2.5em;
}

input, select, textarea {
  border-radius: 5px;
  border: 1px solid var(--cor-sombra-escura);
  padding: 5px 10px;
  flex: 1;
  min-width: 40px;
  min-height: 40px;
  max-height: 120px;
  font-size: 0.8em;
}

textarea{
  max-width: 400px;
}

.resumo {
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.opcoes-tamanho{
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  flex: 1;
}

.config-campo-medio {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;/* evita que fique esticado demais */
}

.form-modal>p{
    font-size: 2em;
}

.form-modal{
    border: none;
    background-color: var(--cor-background);
}

.form-modal>button{
    max-width: 100%;
    margin: 15px 0;
}

.form-modal-login{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  background-color: var(--cor-background);
  padding: 50px;
}

.form-modal-login>input{
  min-height: 60px;
  border-radius: 30px;
  padding: 20px;
  font-size: 2em;
  background-color: var(--cor-background-cinza);
  box-shadow: 2px 2px var(--cor-sombra-clara);
}

.form-modal-login>a>button{
  font-weight: bold;
  padding: 15px;
  margin-top: 50px;
}

small{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor-sombra-escura);
  border-bottom: 1px solid var(--cor-sombra-escura);
}

#erro{
  font-size: 1.2em;
  color: #ff0000;
}