/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0.3;
    background-color: black;
} */

.modal {
    display: none;
    position: fixed;
    background-color: var(--cor-background);
    border: 3px solid var(--cor-border-cinza);
    color: va(--cor-texto-escuro);
    flex: 1;
    top: 120px;
    z-index: 1;
    width: 30dvw;
    max-width: 70dvw;
    min-height: 50dvh;
    max-height: 80dvh;
    overflow: auto;
    padding: 10px;
}

.fechar{
    text-align: center;
    cursor: pointer;
    color: va(--cor-texto-escuro);
    height: 60px;
    width: 60px;
    font-size: 3em;
}

.fechar:hover{
    color: var(--cor-mensagem-vermelho);
}

.modal>section{
    display: flex;
    width: 100%;
}

h3{
    text-align: center;
    align-content: center;
    flex: 1;
    font-size: 3em;
}

.button-claro{
    background-color: var(--cor-background);
    color: var(--cor-titulo-azul);
    border: 2px solid var(--cor-border-azul);
}

.button-claro:hover{
    background-color: var(--cor-background-azul);
    color: var(--cor-texto-padrao);
}