.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-background);
    color: var(--cor-titulo-azul);
    min-height: 100dvh;
    height: 100vh;
    max-height: 100dvh;
    overflow: hidden; /*??? - Pesquisar*/
    position: fixed;
    top: 0;
    width: 100px;
}

.open {
    width: 300px;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    list-style: none;
    height: 70vh;
}

.sidebar li {
    width: 100%;
}

.sidebar li:hover {
    background-color: var(--cor-background-azul);
}

.sidebar a {
    display: inline-flex;
    gap: 15px;
    align-items: baseline;
    padding: 0 10px;
    width: 100%;
    color: var(--cor-background-hover);
    text-decoration: none;
}

.sidebar span {
    display: none;
}

.sidebar.open span {
    display: flex;
    font-size: 1.6em;
    margin-left: 5px;
}

.avatar{
    width: 100px;
}

.sidebar.open .avatar{
    width: 200px;
}

.sair{
    justify-content: center;
    font-size: 1.5em;
    background-color: var(--cor-titulo-azul);
    padding: 10px !important;
    color: var(--cor-texto-padrao) !important; /* Utilizar apenas em último caso*/
    border-radius: 10px;
}