:root {
    --cor-titulo-azul: #30adea;
    --cor-sombra-clara: #7e7e7e;
    --cor-sombra-escura: #000000;
    --cor-background: #f1f2f3;
    --cor-background-cinza: #cfcfcf;
    --cor-background-azul: #93dbff;
    --cor-background-hover: #2366bf;
    --cor-texto-padrao: #f1f2f3;
    --cor-texto-cinza: #8a8a8a;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-background);
    color: var(--cor-titulo-azul);
    height: 100vh;
    overflow: hidden; /*??? - Pesquisar*/
    position: fixed;
    top: 0;
    width: 100px;
}

.sidebar.open {
    width: 300px;
    /* transition: ease-in-out 0.3s; */
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    list-style: none;
    height: 70vh;
}

.sidebar li {
    width: 100%;
}

.sidebar li:hover {
    background-color: var(--cor-background-azul);
}

.sidebar a {
    display: inline-flex;
    gap: 15px;
    align-items: baseline;
    padding: 0 10px;
    width: 100%;
    color: var(--cor-background-hover);
    text-decoration: none;
}

.sidebar span {
    display: none;
}

.sidebar.open span {
    display: flex;
    font-size: 1.6em;
    margin-left: 5px;
}

.avatar{
    width: 100px;
}

.sidebar.open .avatar{
    width: 200px;
}


.botao {
    font-size: xx-large;
    width: 100%;
    border: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.botao-sair{
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
    padding: 15px;
}

/* ------------------------------- OUTRA PARTE FOI COLOCADA AQUI -------------------------------------- */

/* ============================= */
/* Tabela Folha de Pagamento */
/* ============================= */

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 220px;
}

.lista table {
    width: 80%;
    height: auto;
    table-layout: fixed;
    /* largura fixa das colunas */
    border-collapse: collapse;
    /* remove espaçamento entre células */
}

.lista th,
.lista td {
    width: calc(100% / 4);
    /* divide tabela em 3 colunas iguais */
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    /* quebra texto longo */
}

.lista thead {
    font-size: 25px;
    color: var(--marrom_escuro);
}

.lista tbody tr:nth-child(even) {
    background: var(--marrom_claro);
}

.lista tbody tr:hover {
    background: var(--verde_claro);
}

.img_usuario {
    padding: 20px 50px;
    width: 90px;
    height: 90px;
    text-align: center;
}