/* Formatação para formulários */
form {
  color: var(--cor-texto-escuro);
  margin: 10px 0;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid var(--cor-border-cinza);
  background-color: var(--cor-background-cinza);
}

.areas-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.grupo-campo{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  flex: 1;
  gap: 10px;
}

.grupo-campo-linha{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
  gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-width: 400px;
  margin-top: 15px;
  font-size: 1.5em;
}

.campo>img{
  align-self: center;
}

.campo>p{
  color: var(--cor-texto-cinza);
}

.campo-linha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: var(--cor-background-campo-cinza);
  font-size: 1.5em;
  min-width: 400px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

.campo-linha>input{
    max-width: 110px;
    border-radius: 5px;
}

form h2 {
  font-size: 2.5em;
}

input, select, textarea {
  flex: 1;
  padding: 5px 10px;
  min-width: 40px;
  min-height: 40px;
  max-height: 120px;
  font-size: 0.8em;
  border-radius: 5px;
  border: 1px solid var(--cor-border-escuro);
}

textarea{
  max-width: 400px;
  min-width: 200px;
}

.resumo {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.form-modal>p{
    font-size: 2em;
}

.form-modal{
    border: none;
    background-color: var(--cor-background);
}

.form-modal>button{
    max-width: 100%;
    margin: 15px 0;
}

.form-modal-login{
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--cor-background);
  gap: 20px;
  padding: 50px;
}

.form-modal-login>input{
  min-height: 60px;
  border-radius: 30px;
  padding: 20px;
  font-size: 2em;
  background-color: var(--cor-background-cinza);
  box-shadow: 2px 2px var(--cor-sombra-clara);
}

.form-modal-login>button{
  align-self: center;
  font-weight: bold;
  padding: 15px;
  margin-top: 50px;
}

/* centralizar imagens tema e criar espaçamento uniforme*/
#form-tema .areas-form:first-of-type{
  justify-content: center;
  gap: 20px 100px;
} 

/*tamanho máximo imagens tema*/
#form-tema .grupo-campo{
  max-width: 400px;
}

/*colocar o ratio em baixo do texto e acima da img*/
#form-tema .resumo{
  flex-direction: column;
}

/*definir tamanho da imagem e criar borda arredondada*/
#form-tema img{
  max-width: 400px;
  border-radius: 8px;
  border: 2px solid var(--cor-border-cinza);
}

/*layout dos botões de tamanho de fonte*/
#form-tema .opcoes-tamanho{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

#form-tema .opcoes-tamanho label{
  flex-basis: 100%;
}

#form-tema .opcoes-tamanho button{
  justify-self: center;
  gap: 0px 20px;
}

small{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor-texto-escuro);
  border-bottom: 1px solid var(--cor-border-escuro);
}

#erro{
  font-size: 1.2em;
  color: var(--cor-mensagem-vermelho)
}

.opcoes-tamanho{
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  flex: 1;
}

#form-tema .opcoes-tamanho button, #form-senha button{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/* ========== Formulário de cadastro com grid ========== */

.cadastro{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
}

.foto-funcionario{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.possui-pendencias{
  grid-column-start: 1;
  grid-column-end: 3;
}

.arquivos{
  grid-column-start: 1;
  grid-column-end: 4;
}