:root{
  --titulo-azul: #30adea;
  --sombra-clara: #7e7e7e;
  --sombra-escura: #000000;
  --background: #f1f2f3;
  --background-cinza: #cfcfcf;
  --background-azul: #30adea;
  --background-hover: #2366bf;
  --texto-padrao: #f1f2f3;
  --texto-cinza: #8a8a8a;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

main {
  display: flex;
}

.texto-login {
  flex: 3;
  color: var(--texto-padrao);
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-shadow: 0 0 5px var(--sombra-escura);
}

.texto-login h1 {
  font-size: 70px;
  font-family: 'Courier New', monospace;
  margin-bottom: 10px;
}

.texto-login h3 {
  font-size: 30px;
}

.container-login {
  flex: 1;
  color: var(--texto-padrao);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.fundo-login{
  background: url("../html-css/img/fundo-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.barra-lateral { 
  background-color: var(--background);
  padding: 20px;
  flex: 1;
  /* margin-left: 45%; */
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.barra-lateral h2 {
  font-size: 40px;
  margin: 150px auto;
  color: var(--titulo-azul);
}

.barra-lateral input {
  /* display: block; */
  /* justify-content: center; */
  cursor: pointer;
  background-color: var(--background-cinza);
  color: var(--texto-padrao);
  font-size: 1.5em;
  width: 90%;
  padding: 5px 15px;
  margin-bottom: 20px;
  /* margin-top: 10px; */
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--sombra-clara);
}

.barra-lateral input::placeholder {
  background-color: var(--background-cinza);
  color: var(--texto-padrao);
}

.barra-lateral button {
  color: var(--texto-padrao);
  font-size: large;
  background-color: var(--background-azul);
  box-shadow: 0 0 10px var(--sombra-clara);
  padding: 10px;
  margin-top: 50px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 150px;
}

.barra-lateral button:hover {
  background-color: var(--background-hover);
}

.barra-lateral a {
  display: block;
  margin: 10px 0;
  color: var(--texto-cinza);
  font-size: 14px;
}