/* ========== Variavéis ========== */

:root{ 
  --titulo-azul: #30adea;
  --sombra-clara: #7e7e7e;
  --sombra-escura: #000000;
  --background: #f1f2f3;
  --background-cinza: #cfcfcf;
  --background-azul: #30adea;
  --background-hover: #2366bf;
  --texto-padrao: #f1f2f3;
  --texto-cinza: #8a8a8a;

  --fonte-grande: 4.375rem; /* 70px */
  --fonte-media: 1.875rem;  /* 30px */
  --fonte-pequena: 1.5rem;  /* 24px */
  --fonte-botao: 1.125rem;  /* 18px */
  --fonte-h2: 2.5rem;       /* 40px */

  /*--fonte-muito-grande: 4.375rem; /* 70px */
  /*--fonte-grande: 2.5rem; /* 40px */
  /*--fonte-media: 1.875rem;  /* 30px */
  /*--fonte-pequena: 1.5rem;  /* 24px */
  /*--fonte-bem-pequena: 1.125rem;  /* 18px */
  /*--fonte-minuscula: 0.875rem;  /* 14px */
}

/* ========== Seletor Geral ========== */

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

main {
  display: flex;
}

.container-login {
  flex: 1;
  color: var(--texto-padrao);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* ========== Imagem de fundo ========== */
.containter-fundo {
  position: relative;
}

.fundo-login{
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ========== 'Logo' (Pode ser usado para imagens especificas) ========== */
.container-logo {
  position: fixed;
  bottom: 50px;
  left: 50px;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.texto-logo {
  position: relative;
  bottom: 4px;
  left: 4px;
}

.logo {
  /* position: fixed; */
  bottom: 50px;
  left: 50px;
  width: 7.5rem;
  border-radius: 10px; 
} 

.texto-login {
  flex: 3;
  color: var(--texto-padrao);
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-shadow: 0 0 8px var(--sombra-escura);
}

.texto-login h1 {
  font-size: var(--fonte-grande);
  font-family: 'Courier New', monospace;
  margin-bottom: 10px;
}

.texto-login h3 {
  font-size: var(--fonte-media);
}

/* ========== Area de Login Principal ========== */

.barra-lateral { 
  background-color: var(--background);
  padding: 20px;
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.barra-lateral h2 {
  font-size: var(--fonte-h2);
  margin: 150px auto;
  color: var(--titulo-azul);
}

.barra-lateral input {
  cursor: pointer;
  background-color: var(--background-cinza);
  color: var(--texto-padrao);
  font-size: var(--fonte-pequena);
  width: 90%;
  padding: 5px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--sombra-clara);
}

.barra-lateral input::placeholder {
  background-color: var(--background-cinza);
  color: var(--texto-padrao);
}

.barra-lateral button {
  color: var(--texto-padrao);
  font-size: var(--fonte-botao);
  background-color: var(--background-azul);
  box-shadow: 0 0 10px var(--sombra-clara);
  padding: 10px;
  margin-top: 50px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 150px;
}

.barra-lateral button:hover {
  background-color: var(--background-hover);
}

.barra-lateral a {
  display: block;
  margin: 10px 0;
  color: var(--texto-cinza);
  font-size: 14px;
}
